# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
ODVI_0.2/.detect_images
ODVI_0.2/frame_images
ODVI_0.2/bs_Images
*.jpg
*.jpg
ODVI_0.2/bs_Images/BS1100.jpg
ODVI_0.2/runs/detect/
ODVI_0.2/frame_images/self.frame276.jpg
C:\Users\Arcti\PycharmProjects\FYPrepo2\ODVI_0.2\detect_images
C:\Users\Arcti\PycharmProjects\FYPrepo2\ODVI_0.2\frame_images
C:\Users\Arcti\PycharmProjects\FYPrepo2\ODVI_0.2\bs_Images
*.jpg

.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
